# Ignore source code directory
src/

# Ignore build configuration files
babel.config.cjs
jest.config.cjs
node_modules
package-lock.json
webpack.config.js

# Ignore local development tools
.git/
.vscode/
*.log
.env

# Ignore test files
test/
*.test.js

